@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.highlight{
  position:relative;
  color:white;
}
.highlight:before{
  content:"";
  background-color:#0099e8;
  height:1.2em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-0.15em;
  padding:0 0.2em;
  animation-name: highlight-animation;
  animation-duration: 0.6s;
  animation-delay: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes highlight-animation {
  from {width:0%;}
  to {width:100%;}
}

.carousel-open:checked + .carousel-item {
  position: static;
  opacity: 100;
}

.carousel-item {
  transition: opacity 0.6s ease-out;
}

.carousel-indicators {
  list-style: none;
  text-align: center;
  margin-top: 10px;
}

.carousel-bullet {
  font-size: 2rem;
  color: #ddd;
}
